.profile-text {
    font-family: Inter, sans-serif;
    letter-spacing: 0px;
    font-size: 1.1rem;
}

.profile-table {
   margin: auto;
   width: 50% !important; 
}

.profile-image {
  width:160px;
  height: 160px;
  object-fit: cover
}
.card-image {
  width:300px;
  height: 300px;
  object-fit: cover
}

.card-modal {
  margin: 0 16vw
}

.card-jurusan {
  font-family: 'Inter', sans-serif;
  font-weight: 700; 
  font-size:2.4rem;
  z-index: 9999;
}

.card-row {
  background: transparent linear-gradient(90deg, #FFFFFF 0%, #FFFFFF00 100%) 0% 0% no-repeat padding-box;
  border-radius: 40px;
  opacity: 1;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  min-height: 100%;
  min-width: 100%;
  border: solid 0.5px gray;
}

.card-text {
font-family: 'Inter', sans-serif;
  font-weight: 800; 
  font-size:1.1rem;
}

@media (max-width: 576px) { 
    .card-image {
      max-width:190px!important;
      max-height: 190px!important;
      object-fit: cover
    }
  
    .card-modal {
      margin: 0 2vw
    }

    .profile-image {
      width:100px;
      height: 100px;
      object-fit: cover
    }

    .profile-text {
        font-family: Inter, sans-serif;
        letter-spacing: 0px;
        font-size: 0.9rem;
    }
}

.modal-backdrop {
    background-color: rgba(255,255,255,0.1)!important;
    opacity: 1!important;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }