.background-1 {
    position:absolute;
    top: 190px;
    width: 250px
}

.background-2 {
    position:absolute;
    top:0px; 
    left:270px;
    width:160px
}

.background-3 {
    position:absolute; top:0px; right:0; width:340px
}