
.hvr-float-meet >  img {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,0);
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin-bottom: 0;
}

.hvr-float-meet:hover > img {
    transition-duration: .5s;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    margin-bottom: 0;
}